@import url("../../../components/about-custom/about-custom.css");
@import url("../../../components/carousel-fullwidth/fullwidth.css");
@import url("../../../components/description/description.css");

.acervo_area .acervo_item {
    height: 500px;
    top: 0;
}

.acervo_area .acervo_item.active {
    top: 0;
}

.acervo_area .acervo_item .item_image {
    width: 100%;
    height: 90%;
    top: 0;
}

.acervo_area .acervo_item.active .item_image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    top: 0;
}

.acervo_area .acervo_item .item_image img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 12px;
}

.acervo_area {
    height: auto;
}

.acervo_area .acervo_item .item_description {
    top: 50px;
    position: absolute;
}

.acervo_area .acervo_item.active .item_button {
    bottom: 40px;
}

.fullwidth_row .carousel_fullwidth .item {
    border-top: 4px solid #bc8a3a;
}

.fullwidth_row .carousel_fullwidth .item::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 800px;
    background-image: linear-gradient(0deg, #E9E9E9, transparent);
}

.fullwidth_row .dotsfull {
    bottom: 15%;
    gap: 20px;
}

.fullwidth_row .dotsfull .dotfull {
    width: 15px;
    height: 15px;
}

.fullwidth_row .carousel_fullwidth .item .title_movie {
    position: absolute;
    left: 10%;
    font-size: 76px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    justify-content: center;
    bottom: 40%;
}

.fullwidth_row .carousel_fullwidth .item .title_movie span {
    font-size: 96px;
    color: #00144E;
    font-weight: 900;
}

#acervo .row .description {
    width: 100%;
    margin: 0 0 40px;
}