@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("./_reset.css");
@import url("./_variables.css");

@import url("../../components/header/header.css");
@import url("../../components/footer/footer.css");

* {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #f0c02d;
    border-radius: 0px;
    border: 3px solid #f0c02d;
}

main {
    max-width: 1920px;
    height: auto;
}

body {
    user-select: none;
}

/* popups */
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    z-index: 4;
}

.popup .close {
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100%;
    background: #0000006b;
}

.popup .popup_row {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.popup .popup_row .popup_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 2px solid #6d5022;
    border-radius: 20px;
    padding: 4px;
}

.popup .popup_row .popup_content img {
    width: 100%;
    border-radius: 20px;
}

.popup .popup_row .popup_content video {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media screen and (max-width: 540px) {
    .popup .popup_row {
        width: 95%;
    }
}