#about {
    width: 100%;
    height: auto;
}

#about .about_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 80%;
    padding: 3% 0;
    margin: 0 auto;
}

.about_row .image_about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
}

.about_row .image_about img {
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.about_row .about_content {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.about_row .about_content .about_title {
    font-size: 32px;
    font-weight: 600;
    color: #676767;
    text-align: start;
}

.about_row .about_content .about_description {
    text-align: start;
    font-size: 18px;
    font-weight: 300;
    line-height: 170%;
    color: #676767;
}