#characters {
    width: 100%;
    height: auto;
    position: relative;
}

#characters .characters_row {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5% 0;
}

.characters_row .characters_title {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.characters_row .characters_subtitle {
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    line-height: 170%;
    text-align: start;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 100%;
    height: auto;
}

.carousel .carousel_area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    overflow: hidden;
    flex: 0 1 auto;
}

.carousel .carousel_area .character_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0;
    flex-shrink: 1;
    width: 100%;
    height: auto;
    gap: 20px;
}

.character_item .character_image {
    max-width: 290px;
    max-height: 315px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    position: relative;
    top: 0;
}

.character_item .character_image img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.character_item .character_name {
    color: #fff;
    font-size: 37px;
    font-weight: 200;
    text-align: center;
    transition: all .5s ease;
    position: relative;
    top: 0;
}

.character_item .character_description {
    width: 100%;
    height: 0;
    background: #D9D9D9;
    padding: 0;
    visibility: hidden;
    border-radius: 18px;
    transition: all .5s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.character_item .description {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    width: 250px;
    height: 260px;
    line-height: 22px;
    margin: 0 auto;
    overflow: hidden;
}

.character_item .character_button {
    width: 100%;
    height: auto;
    max-width: 130px;
    padding: 5px 0;
    background-color: #BC8A3A;
    border: 1px solid #BC8A3A;
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    position: relative;
    top: 0;
    font-weight: 200;
    transition: all .5s ease;
}

.character_item.active .character_image {
    width: 45%;
    top: 70px;
}

.character_item.active .character_name {
    color: #CEA158;
    top: 80px;
}

.character_item.active .character_description {
    height: 370px;
    visibility: visible;
    padding: 10px 10px 25px;
}

.character_item.active .character_button {
    top: -35px;
}

.character_item .character_button::before {
    content: 'Saiba mais';
}

.character_item.active .character_button::before {
    content: 'Voltar';
}